/*OPEN SANS*/

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/*NOTO SERIF TC*/

/* [6] */
@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Serif TC'), local('NotoSerifTC-Regular'), url(https://fonts.gstatic.com/s/notoseriftc/v7/XLYgIZb5bJNDGYxLBibeHZ0BhnIET3FsCN0FAgvgEq4qZwtrwBrhpwcyws-Z2oxkXLqzDtbj3psk.6.woff2) format('woff2');
    unicode-range: U+ff78-ff7e, U+ff80-ff86, U+ff89-ff94, U+ff97-ff9e, U+ffb9, U+ffe0-ffe3, U+ffe9, U+ffeb, U+ffed, U+fffc, U+1d7c7, U+1f004, U+1f0cf, U+1f141-1f142, U+1f150, U+1f154, U+1f158, U+1f15b, U+1f15d-1f15e, U+1f162-1f163, U+1f170-1f171, U+1f174, U+1f177-1f178, U+1f17d-1f17f, U+1f192-1f195, U+1f197-1f19a, U+1f1e6-1f1f5, U+1f1f7-1f1ff, U+1f21a, U+1f22f, U+1f232-1f237, U+1f239-1f23a, U+1f250-1f251, U+1f300, U+1f302-1f319;
  }
  /* [7] */
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Serif TC'), local('NotoSerifTC-Regular'), url(https://fonts.gstatic.com/s/notoseriftc/v7/XLYgIZb5bJNDGYxLBibeHZ0BhnIET3FsCN0FAgvgEq4qZwtrwBrhpwcyws-Z2oxkXLqzDtbj3psk.7.woff2) format('woff2');
    unicode-range: U+fa0a, U+fa0c, U+fa11, U+fa17, U+fa19, U+fa1b, U+fa1d, U+fa26, U+fa2c, U+fb01, U+fdfc, U+fe0e, U+fe33-fe36, U+fe38-fe44, U+fe49-fe51, U+fe54, U+fe56-fe57, U+fe59-fe5c, U+fe5f-fe6a, U+fe8e, U+fe92-fe93, U+feae, U+fecb-fecc, U+fee0, U+feec, U+fef3, U+ff04, U+ff07, U+ff26-ff2c, U+ff31-ff32, U+ff35-ff37, U+ff39-ff3a, U+ff3c, U+ff3e-ff5b, U+ff5d, U+ff61-ff65, U+ff67-ff68, U+ff6a, U+ff6c-ff77;
  }


h1, h2, h3, label{
    font-family: "Noto Serif TC", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1, label{
    text-align: center;
    color: #ece9db;
}
h2{
    margin: 30px;
}
label{
    font-size: 20px;
}
p{
    Font-family: "Open Sans", sans-serif;
    margin: 15px 60px;
}
body{
    background-color: #ece9db;
}
header{
    background-color: #ece9db;
}

.options{
    display:inline-block;
}
.outer-outer-box{
    width: 100%;
    height: 120px;
}
.outer-box {
    position: relative;
    width: 1000px;
    height: 100px;
    left: 10%;
    margin-right: 25%;
}

.margin-border {
    width: 965px;
    height: 70px;
    text-align: center;
    position: relative;
    top: 15px;
    left: 15px;
}

.inner-box{
    width: 955px;
    height: 60px;
    position: relative;
    top: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button{
    position: sticky;
    top: 0;
    border: none;
    color: #ece9db;
    width: 19%;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: "Noto Serif TC", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.light-purple{
    background-color: #998ee1;
}
.light-blue{
    background-color: #87cde8;
}
.light-yellow{
    background-color: #f7e678;
}
.light-green{
    background-color: #a5e28d;
}
.light-pink{
    background-color: #e28dce;
}
.light-brown{
    background-color: #d29c5b;
}
.purple{
    background-color: #857ad3;
}
.blue{
    background-color: #79b9d2;
}
.yellow{
    background-color: #e9d762;
}
.green{
    background-color: #79d279;
}
.pink{
    background-color: #da71c2;
}
.brown{
    background-color: #9c784e;
}
.warm-offwhite{
    background-color: #ece9db;
}
.cool-offwhite{
    background-color: #e6e8ea;
}
